@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/montserrat/400.css';
@import '~@fontsource/montserrat/700.css';

@import './variables';

body {
    background-image: linear-gradient(
            to left,
            transparent 0px,
            transparent 20px,
            rgba(#000, 0.02) 20px,
            rgba(#000, 0.02) 40px
        ),
        linear-gradient(
            to bottom,
            transparent 0px,
            transparent 20px,
            rgba(#000, 0.02) 20px,
            rgba(#000, 0.02) 40px
        );
    background-size: 40px, 100% 40px;
    font-family: "Montserrat", sans-serif;
    color: $text-color;
}

img {
    max-width: 100%;
}